<div class="task <%= task.completed? ? "completed" : nil %>">
  <span class="task-description"><%= task.description %></span>
  <span class="task-due">
    <% if task.due_date %>
      (<%= distance_of_time_in_words(Time.now, task.due_date) %>)
    <% else %>
      <%= task.due_date %>
    <% end %>
  </span>
</div>
